.about{
  position: absolute;
  background: url(../public/img/about-bg.jpg) no-repeat;
  display: none;
  background-size: 100% 100%;
  width: 838px;
  height: 657px;
  left: 260px;
  top: 30px;
  margin-bottom: 100px;
  z-index:10;
  padding:230px 53px 0 24px;
  box-sizing: border-box;
}
.about .close{
  display: block;
  width:  25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.drag{
  width: 90%;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
.about .text{
  text-indent: 2em;
  font-size: 17px;
}